server:
  port: 8080
spring:
  application:
    name: cloud-file-storage
  datasource:
    url: ${DB_URL}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
  jpa:
    show_sql: true
    properties:
      hibernate:
        format_sql: true
        hbm2ddl.auto: create-drop
    open-in-view: false