spring:
  jpa:
    show-sql: false
    properties:
      hibernate:
        show_sql: false
        format_sql: false

server:
  port: 8080
  forward-headers-strategy: framework

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true